.map {
  position: relative;
  height: 100%;
  margin-left: 8px;
  border-left: 1px solid var(--Outline-Medium, #4c4d4c);
}

@media screen and (max-width: 1023px) {
  .map {
    margin-left: 0;
    border-left: none;
  }
}

.mapContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.mapboxgl-ctrl-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.mapboxgl-ctrl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-geolocate {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--Outline-Medium, #4c4d4c);
  background: var(--Surface-Surface-Base, #000);
  margin-bottom: 8px;
}

.mapboxgl-ctrl-zoom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.mapboxgl-ctrl-zoom-in {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--Outline-Medium, #4c4d4c);
  background: var(--Surface-Surface-Base, #000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-zoom-out {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--Outline-Medium, #4c4d4c);
  background: var(--Surface-Surface-Base, #000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  position: absolute;
  transition: top 0.3s, left 0.3s; /* Add smooth transition */
  z-index: 10;
}
