.map {
  position: relative;
  height: 100%;
  margin-left: 8px;
  border-left: 1px solid var(--Outline-Medium, #4c4d4c);
}

@media screen and (max-width: 1023px) {
  .map {
    margin-left: 0;
    border-left: none;
  }
}

.mapContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.cardWrapper {
  position: absolute;
  transition: top 0.3s, left 0.3s;
  z-index: 10;
}

.customControls {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  right: 16px;
  gap: 8px;
}

.controlButton {
  border-radius: 8px;
  border: 1px solid var(--Outline-Medium, #4c4d4c);
  background: var(--Surface-Surface-Base, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .controlButton:not(:first-child) {
    display: none;
  }
}

.searchButton {
  display: inline-flex;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--Outline-Medium, #4c4d4c);
  background: var(--On-Surface-Base, #fff);
  color: var(--Surface-Surface-Base, #000);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
}

.searchButton:disabled {
  background: #e0e0e0;
  color: #9e9e9e;
}
