.map {
  position: relative;
  height: 100%;
  margin-left: 8px;
  border-left: 1px solid var(--Outline-Medium, #4c4d4c);
}

@media screen and (max-width: 1023px) {
  .map {
    margin-left: 0;
    border-left: none;
  }
}

.mapContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.cardWrapper {
  position: absolute;
  transition: top 0.3s, left 0.3s;
  z-index: 10;
}

.mapMarker {
  width: 42px;
  height: 55px;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.mapMarker:hover {
  transform: scale(1.05);
}

.customControls {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  right: 16px;
  gap: 8px;
}

.controlButton {
  border-radius: 8px;
  border: 1px solid var(--Outline-Medium, #4c4d4c);
  background: var(--Surface-Surface-Base, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .controlButton:not(:first-child) {
    display: none;
  }
}

.searchIndicator {
  display: inline-flex;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Outline-Medium, #4c4d4c);
  background: var(--On-Surface-Base, #fff);
  color: var(--Surface-Surface-Base, #000);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

/* Loading dots animation */
.loadingDots {
  display: inline-flex;
  align-items: center;
  height: 14px;
}

.loadingDots span {
  animation: bounce 0.8s infinite;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}

.loadingDots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loadingDots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
