.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  align-items: flex-start;
  border-bottom: 1px solid var(--Outline-Lowest, #1a1a1a);
}

.wrapper h2 {
  padding-left: 10px;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  padding-bottom: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}

.mapContainer {
  height: 200px;
}
