.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 86px);
  overflow: hidden;
}

.navbarLeft {
  display: none;
  width: 100%;
  position: absolute;
  padding: 16px;
  z-index: 1000;
}

.navbarRight {
  display: none;
  padding: 16px;
  background: var(--Surface-Surface-Base, #0d0d0d);
  border-bottom: 1px solid var(--Outline-Low, #1f1f1f);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.contentContainer {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
  overflow: hidden; /* Ensure content is clipped within */
}

.leftPanel {
  flex: 0 0 400px;
  overflow-y: auto;
  border-right: 1px solid var(--Outline-Low, #1f1f1f);
}

.rightPanel {
  flex: 1; /* Take available space */
  position: relative; /* Anchor for absolute children */
  max-width: calc(100vw - 400px); /* Prevent overflow */
  height: 100%;
}

.rightPanel > div {
  height: 100%;
}

.icon {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Outline-Low, #1f1f1f);
  background: var(--On-Surface-Base, #fff);
}

.iconImg {
  width: 24px;
  height: 24px;
  color: black;
}

.mapToggleButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchBar {
  padding-right: 8px;
}

/* Media Queries */
@media screen and (max-width: 1023px) {
  .container {
    height: 100vh;
  }
  .rightPanel {
    max-width: 100%; /* Ensure it fits smaller screens */
  }
  .leftPanel {
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .navbarLeft,
  .navbarRight {
    display: flex;
    height: 85px;
  }

  .contentContainer {
    height: calc(100vh - 85px);
  }

  .leftPanel,
  .rightPanel {
    display: none;
    width: 100%;
  }

  .hiddenOnSmallScreens {
    display: none !important;
  }

  .leftPanel.hiddenOnSmallScreens {
    display: block !important;
  }

  .rightPanel.hiddenOnSmallScreens {
    display: block !important;
  }
}
