.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.navbarLeft {
  display: none;
  width: 100%;
  position: absolute;
  padding: 16px;
  z-index: 1000;
}

.navbarRight {
  display: none;
  padding: 16px;
  background: var(--Surface-Surface-Base, #0d0d0d);
  border-bottom: 1px solid var(--Outline-Low, #1f1f1f);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.contentContainer {
  display: flex;
  flex: 1;
  position: relative;
  height: calc(100vh - 86px);
}

.leftPanel {
  width: 400px;
  border-right: 1px solid var(--Outline-Low, #1f1f1f);
  flex-shrink: 0;
}

.leftPanelInner {
  height: 100%;
}

.rightPanel {
  position: fixed;
  left: 400px;
  right: 0;
  top: 80px;
  height: calc(100vh - 85px);
  bottom: 0;
  overflow: hidden;
  border-left: 1px solid var(--Outline-Low, #1f1f1f);
  margin-left: -1px;
}

.rightPanel > div {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .container {
    height: 100vh;
  }

  .rightPanel {
    left: 0;
    width: 100%;
  }

  .leftPanel {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .navbarLeft,
  .navbarRight {
    display: none;
    padding: 16px;
    height: 85px;
  }

  .contentContainer {
    height: calc(100vh - 85px);
  }

  .leftPanel,
  .rightPanel {
    display: none;
    width: 100%;
  }

  .hiddenOnSmallScreens {
    display: none !important;
  }

  .leftPanel.hiddenOnSmallScreens {
    display: block !important;
  }

  .rightPanel.hiddenOnSmallScreens {
    display: block !important;
  }
}
