.imageContainer {
  display: grid;
  grid-template-areas:
    "hero sub sub"
    "hero sub sub";
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: clamp(13.8px, 2vw, 24px);
  width: 100%;
  margin: 32px 0;
  border-radius: 9px;
  align-items: stretch;
}

.heroImage {
  grid-area: hero;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: grey;
  width: 100%; /* Hero image takes full width of its container */
  height: auto; /* Allow the height to scale based on the width */
  max-height: 572px; /* Max height to prevent excessive size on larger screens */
  transition: height 0.3s ease; /* Smooth transition for height adjustment */
}

.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Hide the entire component on small screens */
@media (max-width: 768px) {
  .imageContainer {
    display: none;
  }
}

.imageContainer__sub {
  grid-area: sub;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: clamp(13.8px, 2vw, 24px);
  border-radius: 8px;
}

.subImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  background-color: grey;
  transition: transform 0.3s ease;
}

.heroImage:hover img,
.subImage:hover img {
  transform: scale(1.1);
  object-fit: cover;
  border-radius: 8px;
}

.placeholder {
  background-color: grey;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .imageContainer__sub {
    grid-template-columns: 1fr; /* Stack sub-images on smaller screens */
    grid-template-rows: auto;
  }
}
