/* Carousel.module.css */
@media (max-width: 1023px) {
  .content-container {
    display: none;
  }
}

/* Wrapper styling */
.carousel__wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

/* Swiper container */
.carousel__container {
  max-width: 100%;
}

/* Base arrow styles */
.carousel__iconArrow {
  display: flex;
  padding: var(--1, 8px);
  width: var(--2, 40px);
  height: var(--2, 40px);
  align-items: center;
  position: absolute;
  top: 144px;
  border-radius: 20px;
  border: 3px solid var(--Surface-Surface-Base, #0d0d0d);
  background: var(--Surface-Surface-Medium, #1f1f1f);
  z-index: 10; /* Ensure arrows are above carousel content */
  cursor: pointer;
  justify-content: center;
  color: #fff;
  transition: background 0.3s, transform 0.3s;
}

/* Right arrow positioning */
.carousel__iconArrow.carousel__iconArrowRight {
  right: 28px;
}

/* Left arrow positioning */
.carousel__iconArrow.carousel__iconArrowLeft {
  left: 16px;
}

/* Hover effect for arrows */
.carousel__iconArrow:hover {
  background: var(--Surface-Surface-Base, #2a2a2a);
  transform: scale(1.05);
}

/* Hide arrows on screens smaller than 1023px */
@media (max-width: 1023px) {
  .carousel__iconArrow {
    display: none;
  }
}

/* Card styling */
.carousel__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.5rem;
}

.carousel__card:last_of_type {
  gap: 0px;
}

/* Image styling */
.carousel__image {
  width: 222px;
  height: 222px;
  border-radius: 9.25px;
  border: 0.771px solid var(--Outline-Medium, #2a2a2a);
}

@media (min-width: 1023px) {
  .carousel__image {
    width: 288px;
    height: 288px;
    object-fit: cover;
  }
}

/* Placeholder styling */
.carousel__imagePlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 0.9rem;
}

/* Location styling */
.carousel__location {
  display: flex;
  align-items: center;
  gap: 1px;
  align-self: stretch;
}

.carousel__address {
  overflow: hidden;
  color: var(--On-Surface-Medium, #7e807e);
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

/* Icon styling */
.carousel__icon {
  width: var(--2, 12px);
  height: var(--2, 12px);
  flex-shrink: 0;
  padding-right: 2px;
}

/* Sports pill styling */
.carousel__sportPill {
  margin-right: 5px;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: var(--Primary-Container, #082e0f);
  color: var(--Primary-Primary, #39b252);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

/* Sports container */
.carousel__sportsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
}

/* Name styling */
.carousel__name {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 4px;
  padding-bottom: 8px;
}

/* No items message */
.carousel__noItems {
  text-align: center;
  font-size: 1rem;
  color: #888;
}
