.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  gap: 60px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  font-size: 4.5rem;
  line-height: 1.2;
}
